.container {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  padding: 1.5rem 10rem;
}
.hero_left h1 {
  font-size: 6.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--dark);
}
.hero_left p {
  font-size: 1.6rem;
  margin-bottom: 5rem;
  color: var(--dark);
}
.hero_right img {
  width: 61.6rem;
}
