.container{
    background: var(--dark);
    padding: 1.5rem;
}
.footer {
  /* height: 40rem; */
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}
.footer__left h1{
padding: 1rem;
color: white;
border: 1px solid white;
letter-spacing: .4rem;
margin-bottom: 2rem;
text-align: center;
}
.footer__left p{
color: white;
font-size: 1.4rem;
font-weight: 100;
margin-bottom: 1rem;

}


.footer__middle p {
  /* border: 1px solid white; */
  font-size: 1.2rem;
  color: white;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-weight: 100;
}
.footer__right ul li {
  /* border: 1px solid white; */
  font-size: 1.2rem;
  color: white;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: 1rem 0;
}

.copywright{
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 1rem;
}
.copywright p{
  color: white;
  font-size: 1.2rem;
}
