.section1 {
  background: white;
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1__left h2 {
  font-size: var(--subtitle);
  margin-bottom: 0.5rem;
}
.section1__left p {
  font-size: var(--body-text);
  margin-bottom: 1.5rem;
}
.section1__right img {
  width: 25rem;
}

/* ----------section2------------ */

.section2 {
  padding: 5rem 10rem;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
.section2 > h1 {
  font-size: var(--subtitle);
  margin-bottom: 1.5rem;
}
.section2__inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.section2__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 1.5rem;
  background: white;
  border-radius: 0.5rem;
  margin: 0 1.5rem;
  text-align: center;
}
.section2__card img {
  width: 7.6rem;
  height: auto;
  margin-bottom: 1.5rem;
}
.section2__card h1 {
  font-size: var(--body-text);
  margin-bottom: 1.5rem;
}

.section2__card p {
  font-size: 1.4rem;
  color: gray;
  /* font-weight: 400; */
}

/* ----------------section3---------------- */

.section3 {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.section3 h1 {
  text-align: center;
  font-size: var(--subtitle);
  margin-bottom: 6rem;
}

.section3__inner_container {
  display: flex;
  justify-content: space-between;
}

.section3__inner_container_left {
  flex: 1;
}
.section3__inner_container_left img {
  width: 30rem;
}
.section3__inner_container_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.section3__inner_container_right_item {
  background: var(--primary);
  padding: 1.5rem 3rem;
  border-radius: 3rem 0 0 3rem;
}
.section3__inner_container_right_item > h2 {
  margin-bottom: 1.5rem;
}

/* -----------section4------------ */
.section4 {
  padding: 5rem 10rem;
  background: var(--bg);
  text-align: center;
}
.section4 h1 {
  font-size: var(--subtitle);
  margin-bottom: 1.5rem;
}
.section4 p {
  font-size: var(--body-text);
  color: gray;
  margin-bottom: 2rem;
}

/* ------------section5--------------- */
.section5 {
  padding: 5rem 20rem;
  text-align: center;
}
.section5 h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.section5 h2 {
  font-size: var(--subtitle);
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.section5 p {
  font-size: var(--body-text);
  font-weight: 300;
}
.section5__form {
  margin: 3rem;
  display: flex;
}

.section5__info {
  display: flex;
  justify-content: space-evenly;
  color: gray;
}
